src/main/mule/file-submission.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:document-processing-api="http://www.mulesoft.org/schema/mule/document-processing-api" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/document-processing-api http://www.mulesoft.org/schema/mule/document-processing-api/current/mule-document-processing-api.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="file-submission-config" raml="file-submission.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="file-submission-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Content-type" : "text/html"
}]]]></http:headers>
			</http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="file-submission-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="file-submission-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="file-submission-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\process:multipart\form-data:file-submission-config">
		<ee:transform doc:name="Transform Message" doc:id="4c43e152-1ce1-431b-a214-a84f09029698" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="base64Image" ><![CDATA[%dw 2.0
output application/java

import java!com::mulesoft::example::JPEGUtils

var image = payload.parts.file1.content
var comp_factor = p('image.comp_factor') as String { format: '#.##' } as Number 
	
---
JPEGUtils::CompressJpegImage(image, comp_factor)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="418107ab-ea3b-4404-bbe9-086f8145b229" />
		<ee:transform doc:name="Prepare Document Request" doc:id="56f99167-59ae-4eba-b09d-871b729c916c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://validationnamespace.raml.org
import * from dw::core::Binaries

---
{
	ns0#root: {
		ns0#emailAddress: payload.parts.email.content,
		ns0#keywords: p('document.keywords'),
		ns0#language: "en",
		ns0#contentType: payload.parts.file1.headers.'Content-Type',
		ns0#filename: payload.parts.file1.headers.'Content-Disposition'.filename,
		ns0#fileEncoding: 'base64',
		ns0#file1: vars.base64Image
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<try doc:name="Try" doc:id="707f9025-3c7b-4511-b4eb-89632db2cacc" >
			<document-processing-api:create-docuement doc:name="Create docuement" doc:id="9872781f-ed78-48c9-a156-fa15d0b0d217" config-ref="Document_Processing_API_Config" client-id="${secure::document.client_id}" client-secret="${secure::document.client_secret}" />
			<choice doc:name="Choice" doc:id="b62b63e9-33ea-4b30-a0e7-489a5a1df662" >
				<when expression="#[attributes.statusCode == 201]">
					<ee:transform doc:name="Transform Message" doc:id="0ab4e661-a101-435d-afae-95dd569a4421">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="result"><![CDATA[%dw 2.0
output application/java
---
'Your document has been submitted']]></ee:set-variable>
				</ee:variables>
			</ee:transform>
				</when>
				<otherwise >
					<ee:transform doc:name="Transform Message" doc:id="48173311-aa97-41eb-8122-0154a3f7602d" >
						<ee:message >
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="result" ><![CDATA[%dw 2.0
output application/java
---
'Your document could not be processed. Please try again']]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</otherwise>
			</choice>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="fcfd690d-3f1e-46d1-bdbc-29528ded7c17" >
					<ee:transform doc:name="Transform Message" doc:id="c3aa3ee0-fcc9-43fa-be01-f55b319660e6" >
						<ee:message >
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="result" ><![CDATA[%dw 2.0
output application/java
---
'There was an error. Please try again']]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				</on-error-continue>
			</error-handler>
		</try>
		<parse-template doc:name="Parse Template" doc:id="351a418d-2f6d-41ab-b562-c28fc5d959de" location="result.html" />
    </flow>
    <flow name="get:\form:file-submission-config">
        <parse-template doc:name="Parse Template" doc:id="5818f81a-678b-440c-b41a-349c024d48ea" location="bs-form.html" />
    </flow>
</mule>
